<!DOCTYPE html>
<html lang="en">
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<canvas id="myChart" width="1800" height="850"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['1 Квартал', '2 Квартал', '3 Квартал', '4 Квартал'],
            datasets: [
                {
                    label: 'Платежи',
                    data: [2, 0, 1, 1],
                    backgroundColor: ['red'],
                    borderColor: ['red'],
                    fill: false,
                    cubicInterpolationMode: 'monotone'
                }
            ]
        },
        options:
            {
                responsive: true,
                // maintainAspectRatio: true,
                // scales:
                // {
                //     y:
                //     {
                //         beginAtZero: true
                //     }
                // }
            }
    });
</script>

{#<h2>Список пользователей</h2>#}
{#<?php#}
{#$conn = new mysqli("localhost", "root", "888888Yt", "basa");#}
{#if($conn->connect_error){#}
{#die("Ошибка: " . $conn->connect_error);#}
{#}#}
{#$sql = "SELECT * FROM payments";#}
{#if($result = $conn->query($sql)){#}
{#$rowsCount = $result->num_rows; // количество полученных строк#}
{#echo "<table><tr><th>id</th></tr>";#}
{#    foreach($result as $row){#}
{#    echo "<tr>";#}
{#        echo "<td>" . $row["id"] . "</td>";#}
{#        echo "</tr>";#}
{#    }#}
{#    echo "</table>";#}
{#$result->free();#}
{#} else{#}
{#echo "Ошибка: " . $conn->error;#}
{#}#}
{#$conn->close();#}
{#?>#}

</body>
</html>